# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# OS
.DS_Store
Thumbs.db

# IDE
.vs/
*.csproj
*.sln
.idea/

# Large Assets (GS Maps, PLY, KSPLAT) — too large for GitHub
assets/
src/SkyForge/Assets/StreamingAssets/GaussianSplats/
*.ply
*.ksplat

# Betaflight build artifacts
betaflight/obj/
betaflight/make/

# Unity generated
src/SkyForge/Assets/Plugins/UnityGaussianSplatting
betaflight/
